{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>Somme des prix par marque</title>
{% endblock %}

{% block javascripts_head %}
{#    attention il faut importer la bibliotheque chart.js avant de définir l'objet chart#}
{#    <script src="{{ url_for('static', filename='chart.js') }}" ></script>#}
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
{% endblock %}

{% block body %}
    <h2>Somme des prix par marque</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Marque</th>
                    <th>Somme des prix</th>
                </tr>
            </thead>
            <tbody>
                {% for marque, somme_prix in zipped_data %}
                <tr>
                    <td>{{ marque }}</td>
                    <td>{{ somme_prix }} €</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <h2>Nombre de déclinaisons par marque</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Marque</th>
                    <th>Stock Total</th>
                </tr>
            </thead>
            <tbody>
                {% for marque, nb_declinaisons in zipped_declinaisons %}
                <tr>
                    <td>{{ marque }}</td>
                    <td>{{ nb_declinaisons }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br><h3>Prix Total par marque</h3>
    <canvas id="sommePrixParMarqueChart" width="800" height="400"></canvas>
    <br><h3>Stock Total par marque</h3>
    <canvas id="declinaisonsParMarqueChart" width="800" height="400"></canvas>

    <script>
        var ctx = document.getElementById('sommePrixParMarqueChart').getContext('2d');
        var sommePrixParMarqueChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ marques | tojson | safe }},
                datasets: [{
                    label: 'Somme des prix par marque',
                    data: {{ sommes_prix | tojson | safe }},
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                plugins: {
                    title: {
                        display : true,
                        text: 'SommePrixParMarque'
                    }
                }
            }
        });
        var pie = document.getElementById('declinaisonsParMarqueChart').getContext('2d');
        var declinaisonsParMarqueChart = new Chart(pie, {
            type: 'bar',
            data: {
                labels: {{ marques_decli | tojson | safe }},
                datasets: [{
                    label: 'Stock total par marque',
                    data: {{ nb_declinaisons | tojson | safe }},
                    backgroundColor: 'rgba(192,75,153,0.2)',
                    borderColor: 'rgb(135,75,192)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                plugins: {
                    title: {
                        display : true,
                        text: 'StockTotalParMarque'
                    }
                }
            }
        });
    </script>
{% endblock %}
