{#
article (dictionnaire)
id_article, nom, type_article_id, prix, image
    * option :
        * stock ,
        * nb_avis ,
        * nb_declinaisons

types_article : tableau de dictionnaires
* tableau de "type_article"
    * id_type_article, libelle
#}

{% extends 'admin/layout_admin.html' %}
{% block title %}
    <title>modifier un article</title>
{% endblock %}

{% block body %}
    <h2>modifier un article</h2>
        <div class="row mt-5">
                <form action="/admin/article/edit" method="POST">
                    <input type="hidden" name="id_article" value="{{ article.id_lunette }}">
                    <label for="stock">Nouveau stock:</label>
                    <input type="text" id="stock" name="new_stock" value="{{ article.stock }}"><br><br>

                    <button type="submit">Modifier stock</button>
                </form>
        </div>
{% endblock %}
