{#
article (dictionnaire)
id_article, nom, type_article_id, prix, image
    * option :
        * stock ,
        * nb_avis ,
        * nb_declinaisons

types_article : tableau de dictionnaires
* tableau de "type_article"
    * id_type_article, libelle
#}

{% extends 'admin/layout_admin.html' %}
{% block title %}
    <title>modifier un article</title>
{% endblock %}

{% block body %}
    <div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Modifier le stock d'un article</h2>
            <form action="/admin/article/edit" method="POST">
                    <h3 class="card-title">
                    <span style="color: #0b2e13">{{ article.nom }}</span><br>
                    {{ article.prix }}
                    €
                    </h3>
                    {%  if article.image is not none %}
                        <img class="card-img-top rounded mx-auto d-block"  style="width:100px;height:100px"  src="{{ url_for('static', filename = 'images/')}}{{ article.image }}"  alt="image  de {{ article.nom }}" >
                    {% else %} <img class="card-img-top rounded mx-auto d-block"   style="width:100px;height:100px"   src="{{ url_for('static', filename='images/no_photo.jpeg')}}"  alt="image  de {{ article.nom }}" >
                    {% endif %}
                    <hr>

                <input type="hidden" name="id_article" value="{{ article.id_lunette }}">
                <div class="form-group">
                    <label for="stock">Nouveau stock:</label>
                    <input type="number" class="form-control" id="stock" name="new_stock" value="{{ article.stock }}">
                    <br><p>Stock actuel : {{ article.stock }}</p>
                </div>

                <button type="submit" class="btn btn-primary">Modifier stock</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
