{#
articles (tableau de dictionnaires)
* tableau de "article"
    * id_article, nom, type_article_id, prix
    * option :
        * stock ,
        * nb_avis ,
        * nb_declinaisons
#}
{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>afficher les articles</title>
{% endblock %}

{% block body %}
    <h3>Les lunettes</h3>
    <a class="btn btn-outline-success" href="/admin/article/add">ajouter un article</a>
    <br><br>
    <div class="row">
        {% for article in articles %}
            <div class="card col-4 mt-4 p-1">
                <div class="card-body border-dark rounded p-1">
                    <a href="/client/article/details?id_article={{ article.id_article }}" >
                        <h3 class="card-title">
                            <input type="hidden" name="id_article" value="{{ article.id_article }}">
                            <span style="color: #0b2e13">{{ article.nom }}</span><br>
                            {{ article.prix }} €
                        </h3>
                        {%  if article.image is not none %}
                            <img class="card-img-top rounded mx-auto d-block" style="width:100px;height:100px" src="{{ url_for('static', filename = 'images/')}}{{ article.image }}" alt="image de {{ article.nom }}" >
                        {% else %}
                            <img class="card-img-top rounded mx-auto d-block" style="width:100px;height:100px" src="{{ url_for('static', filename='images/no_photo.jpeg')}}" alt="image de {{ article.nom }}" >
                        {% endif %}
                        <hr>
                    </a>
                    <div class="row">
                        {% if  article.stock is defined and article.stock != None %}
{# #}                       <a href="/admin/article/edit?id_article={{ article.id_article }}" style="width: 50%; display: flex; margin-right: 25%; margin-left: 25%; justify-content: center" class="btn btn-success">Gestion du stock</a>
{# #}                   {% endif %}
                        <div class="col-2 align-content-end">
                            {% if article.nb_notes is defined %}
                                {% if article.nb_notes > 0 %}
                                    <a href="/client/article/details?id_article={{ article.id_article }}" >
                                        <span style="color: #3A7734"> note : {{  "{:,.1f}".format(article.moy_notes) }}({{ article.nb_notes }})</span>
                                    </a>
                                {% endif %}
                            {% endif %}
                            {% if article.nb_avis is defined %}
                                {% if article.nb_avis > 0 %}
                                    <a href="/client/article/details?id_article={{ article.id_article }}" >
                                        <span style="color: #3A7734">({{ article.nb_avis }} avis)</span>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    {% if article.stock is defined and article.stock != None %}
                        {% if article.stock > 0 %}
                            <small class="text-muted">Stock restant : {{ article.stock }}</small>
                            {% if article.empty_stock_count > 0 %}
                                <small class="text-muted">Déclinaisons avec stock à 0 : {{ article.empty_stock_count }}</small>
                            {% endif %}
                        {% else %}
                            <small class="text-muted">Article momentanément indisponible</small>
                        {% endif %}
                        <br>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}