{#
articles (tableau de dictionnaires)
* tableau de "article"
    * id_article, nom, type_article_id, prix
    * option :
        * stock ,
        * nb_avis ,
        * nb_declinaisons
#}
{% extends 'admin/layout_admin.html' %}

{% block title %}
    <title>afficher les articles</title>
{% endblock %}

{% block body %}
<h3>Les lunettes</h3>
<a  class="btn btn-outline-success" href="/admin/article/add">ajouter un article</a>
<br><br>
{#{{ articles }}#}
{# <table class="table">
    <thead class="thead-dark">
        <tr>
            <th>nom</th><th>id</th><th>type article (id)</th><th>prix</th><th style="color: green">stock</th>
            <th>nouveaux avis</th><th>nb déclinaisons</th><th>image</th><th>opération</th>
        </tr>
    </thead>
    <tbody>
    {% if articles | length >= 1 %}
        {% for ligne in articles %}
           <tr>
                  <td>{{ ligne.nom }}</td>
                  <td>{{ ligne.id_article }}</td>
                  <td><span style="color: red">{{ ligne.libelle }}</span> ({{ ligne.type_article_id }})</td>
                  <td>{{ ligne.prix }}  {{  "{:,.2f} €".format(ligne.prix) }}</td>
                  <td>
                  {% if ligne.stock is defined %}
                     {% if ligne.stock != None  %}
                        {% if ligne.stock > 0 %}
                            <strong style="color: green">{{ ligne.stock }}</strong>
                            {% if ligne.min_stock is defined  and ligne.min_stock <= 0 %}
                                <span style="color: #fd7e14">(⚠️ déclinaison(s) en rupture)</span>
                            {% endif %}
                        {% else %}
                            <strong class="text-muted">article momentanément indisponible</strong>
                        {% endif %}
                     {% else %}
                             <strong class="text-muted">déclinaison ND</strong>
                     {% endif %}
                  {% else %}
                      ND
                  {% endif %}
                  </td>
                   <td>
                  {% if ligne.nb_commentaires_nouveaux is defined %}
                     {% if ligne.nb_commentaires_nouveaux > 0 %}
                         <a href="/admin/article/commentaires?id_article={{ ligne.id_article }}"><strong style="color: red">{{ ligne.nb_commentaires_nouveaux }} avis non lu(s) ⚠️ </strong></a>
                     {% else %}
                        <strong class="text-muted"></strong>
                     {% endif %}
                  {% else %}
                      nb_avis ND
                  {% endif %}
                  </td>


                  <td>
                      {% if ligne.nb_declinaisons is defined %}
                        {{ ligne.nb_declinaisons }}
                      {% else %}
                         decli ND
                      {% endif %}
                  </td>
                  <td>{{ ligne.image }}
                        {%  if ligne.image is not none %}
                            <img style="width:40px;height:40px"  src="{{ url_for('static', filename = 'images/' + ligne['image']) }}"  alt="image  de {{ ligne.nom }}" >
                        {% else %}
                            <img style="width:40px;height:40px"   src="{{ url_for('static', filename='images/no_photo.jpeg')}}"  alt="pas d image" >
                        {% endif %}
                  </td>
                  <td>
                      <a  class="btn btn-outline-danger" href="/admin/article/delete?id_article={{ ligne.id_article }}" onclick="return confirm('Are you sure?')" >supprimer</a>
                      <a  class="btn btn-outline-warning" href="/admin/article/edit?id_article={{ ligne.id_article }}">editer</a>
                      <a  class="btn btn-outline-warning" href="/admin/article/commentaires?id_article={{ ligne.id_article }}">commentaires</a>
                  </td>
           </tr>
        {% endfor %}
    {% else %}
            <tr>
                  <td>
                      pas d'article
                  </td>
           </tr>
    {% endif %}
    </tbody>
</table> #}
    <div class="row">
                {% for article in articles  %}
                        <div class="card col-4 mt-4 p-1">
                            <div class="card-body border-dark rounded p-1">
                                <a href="/client/article/details?id_article={{ article.id_article }}" >
                                <h3 class="card-title">
                                    <span style="color: #0b2e13">{{ article.nom }}</span><br>
                                    {{ article.prix }}
                                    €
                                </h3>
                                     {%  if article.image is not none %}
                                        <img class="card-img-top rounded mx-auto d-block"  style="width:100px;height:100px"  src="{{ url_for('static', filename = 'images/')}}{{ article.image }}"  alt="image  de {{ article.nom }}" >
                                    {% else %} <img class="card-img-top rounded mx-auto d-block"   style="width:100px;height:100px"   src="{{ url_for('static', filename='images/no_photo.jpeg')}}"  alt="image  de {{ article.nom }}" >
                                    {% endif %}
                                    <hr>
                                </a>
                                <div class="row">
{# #}                                {% if  article.stock is defined and article.stock != None %}
{# #}                                    {% if article.stock > 0 %}
                                        <form action="admin/article/edit"  method="get" class="col-5">
                                            <input type="hidden" name="id_article" value="{{ article.id_article }}">
                                            <div class="input-group">
                                            <button class="btn  btn-success"  id="button-addon1">
                                                <i class="fas fa-shopping-cart">Gestion du stock</i>
                                            </button>
                                            </div>
                                        </form>
{# #}                                    {% endif %}
{# #}                                {% endif %}
                                     <div class="col-2 align-content-end">
                                    {% if article.liste_envie is defined %}
                                         {%if  article.liste_envie== 1%}
                                             <a href="/client/envie/add?id_article={{ article.id_article }}" style="text-decoration: none">💛</a>
                                         {% else %}
                                             <a href="/client/envie/add?id_article={{ article.id_article }}" style="text-decoration: none">🤍</a>
                                         {% endif %}
                                    {% endif %}
                                     </div>
                                </div>
                            </div>
                            <div class="card-footer">
                            {% if article.stock is defined and article.stock != None %}
                                {% if article.stock > 0 %}
                                    <small class="text-muted">Stock restant : {{ article.stock }}</small>
                                {% else %}
                                    <small class="text-muted">Article momentanément indisponible</small>
                                {% endif %}
                                <br>
                            {% endif %}
                            {% if article.nb_notes is defined %}
                                {% if article.nb_notes > 0 %}
                                 <a  href="/client/article/details?id_article={{ article.id_article }}" >
                                    <span style="color: #3A7734"> note : {{  "{:,.1f}".format(article.moy_notes) }}({{ article.nb_notes }})</span>
                                 </a>
                                {% endif %}
                            {% endif %}
                            {% if article.nb_avis is defined %}
                                {% if article.nb_avis > 0 %}
                                 <a href="/client/article/details?id_article={{ article.id_article }}" >
                                    <span style="color: #3A7734">({{ article.nb_avis }} avis)</span>
                                 </a>
                                {% endif %}
                            {% endif %}
                            </div>
                        </div>
                {% endfor %}
    </div>
{% endblock %}
